<link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/fonts.css">
<link href="//fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% if page.layout == 'post' %}
{% assign meta_title = page.title %}
{% assign meta_author = page.author | default: site.author %}
{% assign meta_description = page.excerpt %}
{% assign meta_url = page.url %}
{% assign meta_image = page.image %}
{% assign meta_type = 'article' %}
{% else %}
{% assign meta_title = site.title %}
{% assign meta_author = site.author %}
{% assign meta_description = site.description | strip_html %}
{% assign meta_url = site.url %}
{% assign meta_image = site.image %}
{% assign meta_type = 'website' %}
{% endif %}

<meta name="title"                content="{{ meta_title }}" />
<meta name="author"               content="{{ meta_author }}"/>
<meta name="description"          content="{{ meta_description }}"/>

<!-- facebook share -->
<meta property="og:url"           content="{{ meta_url }}" />
<meta property="og:type"          content="{{ meta_type }}" />
<meta property="og:title"         content="{{ meta_title }}" />
<meta property="og:description"   content="{{ meta_description }}" />
<meta property="og:image"         content="{{ site.url }}{{ meta_image }}" />

<title>Kiwoon Jeong {% if page.title %} - {{ page.title }} {% endif%}</title>
<link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/main.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
