---
---

  {% include_relative normalize.css %}
  {% include_relative postList.css %}
  {% include_relative workList.css %}
  {% include_relative about.css %}

  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, .84);
    font-family: 'Noto Sans KR', 'Helvetica', 'Helvetica Nenu', Sans-serif;
  }

  ul, li {
    margin: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    text-align: left;
    word-break: break-all;
  }

  .main-title {
    font-size: 32px;
    line-height: 1.8rem;
    margin-bottom: 10px;
  }

  .main-sub {
    font-size: 22px;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, .54);
  }

  * {
    box-sizing: border-box;
  }

  .container {
    padding-top: 96px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }

  hgroup {
    position: relative;
    padding-bottom: 60px;
  }

  hgroup::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 74%;
    border-bottom: 2px solid black;
  }

  .main-article img {
    width: 100%;
  }

  .main-article blockquote {
    border-left: 3px solid #acacac;
    margin-left: 0;
    padding-left: 20px;
    color: #acacac;
  }

  .main-article strong {
    color: #444;
    background-color: lightgoldenrodyellow;
  }

  .main-article .highlighter-rouge {
    background-color: gold;
  }

  .main-article figcaption {
    font-family: serif;
    font-size: 14px;
    color: #666;
    text-align: center;
  }

  .main-article h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
  }

  .main-article p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .main-article ul {
    list-style: disc;
  }

  .main-article ul li {
    list-style: inherit;
  }

  .main-article ol {
    list-style: decimal;
  }

  .main-article ol li {
    list-style: inherit;
  }

  .main-article figure {
    display: inline-block;
  }

  .main-footer {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgba(0, 0, 0, .54);
    margin-top: 60px;
    line-height: 80px;
  }

  .footer-container {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
  }

  .navbar {
    height: 64px;
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1540px;
    z-index: 2;
  }

  .navbar-list {
    position: relative;
    margin: 0 50px 0 0;
    line-height: 64px;
    float: right;
  }

  .navbar-list li {
    display: inline-block;
    margin: 0 14px;
  }

  {% include_relative post.css %}
  {% include_relative work.css %}
  {% include_relative mq.css %}
