<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kiwoon Jeong</title>
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/postList.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.asset_url }}/css/mq.css">
</head>
<body>

  {% include nav.html %}

  <div class="container">
    {{ content }}
  </div>

</body>
</html>
