---
layout: default
---

<header class="post-header" style="background-image: url({{ site.baseurl }}{{ page.image }})"></header>
<section class="post-info">
  <h2>{{ page.date | date: "%Y.%m.%d" }}</h2>
  <h2>{{ page.title }}</h2>
  <div>
    Author: {{ page.author }}
    <br />
    <br />
    <a style="border-bottom: 1px solid rgba(0, 0, 0, .54);" href="{{ site.baseurl }}/tags/{{ page.tags }}">#{{ page.tags }}</a>
  </div>
</section>
<article class="post-article">
  {{ content }}
  <!-- <a class="share" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank">페이스북공유하기</a> -->
  <div class="fb-share-button share" data-href="{{site.url}}{{page.url}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="fb-xfbml-parse-ignore">공유하기</a>
  </div>
</article>

<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div>
